<div class="wrap">


  <div class="ctopback noov">
    <div class="csupper">
    <div class="cnav noov">
      <div class="navlimit">
        <div class="logowrap"><%= image_tag("sankofalogo.png") %></div>
        <ul class="navlist">
          <a href="#"><li>Shop</li></a>
          <a href="/departments"><li>Departments</li></a>
          <a href="#"><li>Events</li></a>
          <a href="/contact"><li>Contact</li></a>
        </ul>
      </div>
    </div>

    <div class="mobilenav">
    <div class="mobileimg"><%= image_tag("sankofalogo.png") %></div>
    <div class="mobileicon"><i class="fas fa-ellipsis-v"></i></div>
  </div>

    <div class="csupperhalf">
      <div class="csupperhalflimit">
        <h1>Counseling</h1>
      </div>
    </div>
    </div>

    <div class="cslow abackg two">
      <div class="downarrow"></div>
    </div>
  </div>

   <div class="cmainback noov">
     <div class="cmainbacklimit">
       <div class="deptbox">


         <div class="ctitle">
           <h3>"A Growth Mindset"</h3>
         </div>
         <div class="cbar"></div>

       </div>

       <div class="chightext">
         <p>Our greatest obstacle is ourselves. The mind controls all of what
         and who we become.
         We must want to transform by retraining
         our minds from a fixed mindset, to a growth mindset.</p>
       </div>
       <div class="clowtext">
         <p>God has blessed man
         with intellectual gifts and abilities to help us with healing in every area of our
         lives: spiritually, psychologically, and physiologically.
         <br>Sankofa Dreams have partnered
         with some of the best licensed professionals, to help you
         transform into the person God deemed you to be.
       </p>
       </div>
     </div>
   </div>


   <div class="cotherback ">
     <div class="cotherbacklimit">
       <div class="ctitlewrap">
         <div class="ctitlehead">
           <h3>Related Departments</h3>
         </div>
         <div class="cotherbar">

         </div>
       </div>
      <div class="cotherboxwrap">
        <div class="cboxleft">
          <div class="cboxinner noov">
            <div class="cbg three"></div>
            <div class="cdark"></div>
            <div class="ccaption">
            <div class="ccaptionlimit">
              <div class="ccaptionhalf">
              <div class="ccaptioncontent">
                <div class="ccaptionhead">
                  <h3>
                    Education
                </h3>
              </div>

              <div class="ccaptiontext">
                <div class="ccaptionhead"><p>
                  Develop a life strategy of self-fulfillment.
                </p></div>
              </div>
              </div>
            </div>


               <div class="ccaptionhalf">
                 <div class="ccaptionbtn"><a href="#">Learn More</a></div>
               </div>
              </div>
            </div>
          </div>
        </div>










        <div class="cboxright">
          <div class="cboxinner noov">
            <div class="cbg five"></div>
            <div class="cdark"></div>



            <div class="ccaption">
              <div class="ccaptionlimit">
              <div class="ccaptionhalf">
              <div class="ccaptioncontent">
                <div class="ccaptionhead">
                  <h3>
                    Pharoahs
                </h3>
              </div>

              <div class="ccaptiontext">
                <div class="ccaptionhead"><p>
                  Get the right mental framework to achieve your goals.
                </p></div>
              </div>
              </div>
            </div>


               <div class="ccaptionhalf">
                 <div class="ccaptionbtn"><a href="#">Learn More</a></div>
               </div>
                </div>
            </div>




          </div>
        </div>
     </div>


     <a href="#" class="cviewall">View All</a>
   </div>


  </div>


  <div class="ctaback noov">
    <div class="ctalimit">
      <div class="ctaleft">
        <div class="ctainner">
          <div class="deptbox vertmid">
            <div class="insmalltitle"><p>Free Book Download</p></div>
            <div class="inlargetitle"><h3>Get Your FREE Book </h3>
            </div>
            <div class="intexttitle"><p>
              Explore one of our many departments dedicated
              to black education and financial literacy.
            </p>
            </div>
          </div>
          <a class="bookbtn">
            Get Free Copy
          </a>
        </div>
      </div>
      <div class="ctaright">
        <div class="bookwrap">
          <%= image_tag("bookone.png") %>
        </div>
      </div>
    </div>
  </div>


  <div class="footer noov">
    <div class="footerlimit">
      <div class="footerpart">
        <div class="ulwrap ">
        <ul class="footlist rightwh">
          <li>About Us</li>
          <li>Meet the Team</li>
          <li>Our Community</li>
          <li>Privacy Policy</li>
          <li>Terms</li>
        </ul>
      </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
        <div class="fcb">Facebook Feed</div>
      </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
          <div class="fcb">Contact</div>
          <div class="fcbinfo">Location and Phone number</div>
        </div>
      </div>
      <div class="footerpart">
        <div class="ulwrap">
          <div class="fcb">Connect with us </div>
          <div class="fcbinfo">
            <span>facebook.com/sankofadreans</span><br>
            <br>
            <span>@sankofadreans2020</span><br>
            <br>
            <span>Subscribe to RSS</span><br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space noov">
    <div class="centerp">
    <p>2020 © Sankofa Dreams. All Rights Reserved.</p>
    <p class="lm">Sankafo Dreams is a company geared toward building wealth in the black community.</p>
    </div>
  </div>
  </div>
