<div class="wrap">
  <div class="nav noov">

    <div class="navlimit">
      <div class="logowrap"><%= image_tag("sankofalogo.png") %></div>
      <ul class="navlist">
        <li>Shop</li>
        <li>Departments</li>
        <li>Events</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
<div class="deptback noov">
  <div class="deptinner">
     <div class="deptbox">
       <div class="smalltitle"><p>VIEW OUR DEPARTMENTS</p></div>
       <div class="deptbar"></div>
       <div class="largetitle"><h3>We Believe in a Better Future.</h3>
       </div>
       <div class="texttitle"><p>Explore one of our many departments dedicated
         to black education and financial literacy.</p></div>

     </div>
  </div>
  <div class="downarrow"></div>
</div>
<div class="introback noov">
  <div class="introinner">
     <div class="deptbox">
       <div class="insmalltitle"><p>VIEW OUR DEPARTMENTS</p></div>
       <div class="indeptbar"></div>
       <div class="inlargetitle"><h3>We Believe in a Better Future.</h3>
       </div>
       <div class="intexttitle"><p>Explore one of our many departments dedicated
         to black education and financial literacy.</p>
       </div>
     </div>


     <div class="righttitle"><p>Our Other Section</p></div>
  </div>
</div>


<div class="infocardback noov">
  <div class="plainwrap">
    <div class="infintroinner">
       <div class="deptbox">
         <div class="insmalltitle"><p>VIEW OUR DEPARTMENTS</p></div>
         <div class="indeptbar"></div>
         <div class="inlargetitle"><h3>We Believe in a Better Future.</h3>
         </div>
         <div class="intexttitle"><p>Explore one of our many departments dedicated
           to black education and financial literacy.</p>
         </div>
       </div>
    </div>
  </div>
  <div class="cardwrap">
   <div class="cwlimit">
     <div class="cwleft"></div>
     <div class="cwright">
       <div class="leftcardwrap">
         <div class="cr cardone">
           <div class="cardicon"></div>
           <div class="cardtextlimit">
           <div class="cardtext">
             <h3>
               the placement text is here
           </h3>
         </div>
         </div>
         </div>
         <div class="cr cardtwo">
           <div class="cardicon"></div>
           <div class="cardtextlimit">
           <div class="cardtext">
             <h3>
               the placement text is here
           </h3>
         </div>
         </div>
         </div>
       </div>
       <div class="rightcardwrap">
         <div class="cr cardthree">
           <div class="cardicon"></div>
           <div class="cardtextlimit">
           <div class="cardtext">
             <h3>
               the placement text is here
           </h3>
         </div>
         </div>
         </div>
       </div>
     </div>
   </div>
  </div>

</div>



<div class="workback noov">
  <div class="wh workupper">
    <div class="workupperlimit">
    <div class="wrkintroinner">
       <div class="deptbox">
         <div class="insmalltitle"><p>VIEW OUR DEPARTMENTS</p></div>
         <div class="indeptbar"></div>
         <div class="inlargetitle"><h3>We Believe in a Better Future.</h3>
         </div>
         <div class="intexttitle"><p>Explore one of our many departments dedicated
           to black education and financial literacy.</p>
         </div>
       </div>
    </div>
    <div class="workimg"></div>
    </div>
  </div>
  <div class="wh worklower">
    <div class="lwhigh">
      <div class="workbox bordr"><h1>Department</h1></div>
      <div class="workbox bordr"><h1>Department</h1></div>
      <div class="workbox"><h1>Department</h1></div>

    </div>
    <div class="lwlow">
      <div class="workbox bordr"><h1>Department</h1></div>
      <div class="workbox bordr"><h1>Department</h1></div>
      <div class="workbox"><h1>Department</h1></div>

    </div>
  </div>
</div>


<div class="ctaback noov">
  <div class="ctalimit">
    <div class="ctaleft">
      <div class="ctainner">
        <div class="deptbox vertmid">
          <div class="insmalltitle"><p>Free Book Download</p></div>
          <div class="inlargetitle"><h3>Get Your FREE Book </h3>
          </div>
          <div class="intexttitle"><p>
            Explore one of our many departments dedicated
            to black education and financial literacy.
          </p>
          </div>
        </div>
        <div class="bookbtn">
          <p>Get Free Copy</p>
        </div>
      </div>
    </div>
    <div class="ctaright">
      <div class="bookwrap">
        <%= image_tag("bookone.png") %>
      </div>
    </div>
  </div>
</div>


<div class="footer noov">
  <div class="footerlimit">
    <div class="footerpart">
      <div class="ulwrap ">
      <ul class="footlist rightwh">
        <li>About Us</li>
        <li>Meet the Team</li>
        <li>Our Community</li>
        <li>Privacy Policy</li>
        <li>Terms</li>
      </ul>
    </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
      <div class="fcb">Facebook Feed</div>
    </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
        <div class="fcb">Contact</div>
        <div class="fcbinfo">Location and Phone number</div>
      </div>
    </div>
    <div class="footerpart">
      <div class="ulwrap">
        <div class="fcb">Connect with us </div>
        <div class="fcbinfo">
          <span>facebook.com/sankofadreans</span><br>
          <br>
          <span>@sankofadreans2020</span><br>
          <br>
          <span>Subscribe to RSS</span><br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space noov">
  <div class="centerp">
  <p>2020 © Sankofa Dreams. All Rights Reserved.</p>
  <p class="lm">Sankafo Dreams is a company geared toward building wealth in the black community.</p>
  </div>
</div>



</div>
