<div class="blur">
  <div class="redbox">
    <div class="redboxcontain">
      Thank you for your application!
      A representative will contact you.
    </div>
    <div class="redboxreturn">
       <a href="/">Go To Homepage</a><br>
       <br>
       <a href="/contact">Return To Contact</a>
    </div>
  </div>
</div>
